/node_modules
/public/hot
/public/storage
/public/photos
/public/photos1
/public/img
/storage/*.key
/vendor
.env
.env.backup
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
*.zip
*.doc
*.docx
.idea
